<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MoLinHuoDe (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,385},{270,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,71}}</string>
                <key>sourceSize</key>
                <string>{270,71}</string>
            </dict>
            <key>Soul/Soul (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,1516},{43,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,31}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>Soul/Soul (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1516},{43,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,31}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>active/active (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1070},{391,559}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,559}}</string>
                <key>sourceSize</key>
                <string>{391,559}</string>
            </dict>
            <key>bag2/bag1 (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1651},{393,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,540}}</string>
                <key>sourceSize</key>
                <string>{393,540}</string>
            </dict>
            <key>bag2/bag1 (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{299,606},{152,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,61}}</string>
                <key>sourceSize</key>
                <string>{152,61}</string>
            </dict>
            <key>bag2/bag1 (38).png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,1651},{319,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,392}}</string>
                <key>sourceSize</key>
                <string>{319,392}</string>
            </dict>
            <key>bag_crit_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1516},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>bossfuben/bossfuben (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,1651},{78,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,65}}</string>
                <key>sourceSize</key>
                <string>{78,65}</string>
            </dict>
            <key>bossfuben/bossfuben (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{489,355},{531,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,107}}</string>
                <key>sourceSize</key>
                <string>{531,107}</string>
            </dict>
            <key>boxc/boxc (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,1492},{235,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,55}}</string>
                <key>sourceSize</key>
                <string>{235,55}</string>
            </dict>
            <key>c information/c information (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{420,479}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,479}}</string>
                <key>sourceSize</key>
                <string>{420,479}</string>
            </dict>
            <key>c information/c information (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1516},{456,528}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,528}}</string>
                <key>sourceSize</key>
                <string>{456,528}</string>
            </dict>
            <key>card/card (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1549},{182,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,180}}</string>
                <key>sourceSize</key>
                <string>{182,180}</string>
            </dict>
            <key>challenge/challenge (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,1955},{259,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,90}}</string>
                <key>sourceSize</key>
                <string>{259,90}</string>
            </dict>
            <key>chat/chat (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,101},{928,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{928,109}}</string>
                <key>sourceSize</key>
                <string>{928,109}</string>
            </dict>
            <key>chat/chat (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,2},{966,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{966,97}}</string>
                <key>sourceSize</key>
                <string>{966,97}</string>
            </dict>
            <key>chat/chat (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,212},{928,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{928,109}}</string>
                <key>sourceSize</key>
                <string>{928,109}</string>
            </dict>
            <key>crit_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1516},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>dhshop/dhshop (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{453,355},{685,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,34}}</string>
                <key>sourceSize</key>
                <string>{685,34}</string>
            </dict>
            <key>dhshop/dhshop (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,890},{905,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{905,600}}</string>
                <key>sourceSize</key>
                <string>{905,600}</string>
            </dict>
            <key>fuben map/fuben map (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,1651},{78,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,65}}</string>
                <key>sourceSize</key>
                <string>{78,65}</string>
            </dict>
            <key>gold/gold (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,1549},{54,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,346}}</string>
                <key>sourceSize</key>
                <string>{54,346}</string>
            </dict>
            <key>gold/gold (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,101},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mailbox/mailbox (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,1610},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>mailbox/mailbox (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1610},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>mailbox/mailbox (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,890},{624,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,20}}</string>
                <key>sourceSize</key>
                <string>{624,20}</string>
            </dict>
            <key>mailbox/mailbox (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,281},{409,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,12}}</string>
                <key>sourceSize</key>
                <string>{409,12}</string>
            </dict>
            <key>mailbox/mailbox (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{489,464},{491,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,576}}</string>
                <key>sourceSize</key>
                <string>{491,576}</string>
            </dict>
            <key>main/main(19) .png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,1610},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>main/main(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1651},{80,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,77}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>map (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1516},{133,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,145}}</string>
                <key>sourceSize</key>
                <string>{133,145}</string>
            </dict>
            <key>map (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1017},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>map (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1042},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>map (28).png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,1516},{379,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{379,214}}</string>
                <key>sourceSize</key>
                <string>{383,218}</string>
            </dict>
            <key>map/map (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1549},{344,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,100}}</string>
                <key>sourceSize</key>
                <string>{344,100}</string>
            </dict>
            <key>map/map (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,141},{69,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,79}}</string>
                <key>sourceSize</key>
                <string>{69,79}</string>
            </dict>
            <key>map/map (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,222},{70,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,80}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>market/market (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,304},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>mission/mission (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1042},{7,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,365}}</string>
                <key>sourceSize</key>
                <string>{7,365}</string>
            </dict>
            <key>prof_defense.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,1610},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>proficient (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,1610},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>proficient/proficient (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,1733},{223,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,312}}</string>
                <key>sourceSize</key>
                <string>{223,312}</string>
            </dict>
            <key>proficient/proficient (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1042},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>pvp/pvp (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,323},{927,565}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{927,565}}</string>
                <key>sourceSize</key>
                <string>{927,565}</string>
            </dict>
            <key>role 3/role3 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,1897},{56,156}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,2},{56,156}}</string>
                <key>sourceSize</key>
                <string>{94,160}</string>
            </dict>
            <key>role2/role2 (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{982,955},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>roleb/roleb (25).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1492},{485,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,22}}</string>
                <key>sourceSize</key>
                <string>{485,22}</string>
            </dict>
            <key>roleb/roleb (30).png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1042},{93,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,26}}</string>
                <key>sourceSize</key>
                <string>{93,26}</string>
            </dict>
            <key>roleb/roleb (39).png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1492},{477,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,22}}</string>
                <key>sourceSize</key>
                <string>{477,22}</string>
            </dict>
            <key>roleb/roleb (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,108},{7,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,492}}</string>
                <key>sourceSize</key>
                <string>{7,492}</string>
            </dict>
            <key>saodang/saodang (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{448,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,249}}</string>
                <key>sourceSize</key>
                <string>{448,249}</string>
            </dict>
            <key>saodang/saodang (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1463},{433,145}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{433,145}}</string>
                <key>sourceSize</key>
                <string>{441,149}</string>
            </dict>
            <key>saodang/saodang (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1549},{182,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,180}}</string>
                <key>sourceSize</key>
                <string>{182,180}</string>
            </dict>
            <key>sdq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1913,1492},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>setup/setup (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{982,464},{489,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,38}}</string>
                <key>sourceSize</key>
                <string>{489,38}</string>
            </dict>
            <key>setup/setup (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,1492},{22,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,153}}</string>
                <key>sourceSize</key>
                <string>{22,153}</string>
            </dict>
            <key>shop/shop (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1070},{391,559}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,559}}</string>
                <key>sourceSize</key>
                <string>{391,559}</string>
            </dict>
            <key>shop/shop (29).png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,602},{7,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,466}}</string>
                <key>sourceSize</key>
                <string>{7,466}</string>
            </dict>
            <key>shop/shop (30).png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,385},{270,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,71}}</string>
                <key>sourceSize</key>
                <string>{270,71}</string>
            </dict>
            <key>shop/shop (35).png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,1733},{312,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,107}}</string>
                <key>sourceSize</key>
                <string>{312,107}</string>
            </dict>
            <key>shop/shop (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{295,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,84}}</string>
                <key>sourceSize</key>
                <string>{295,84}</string>
            </dict>
            <key>shop_crit_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1516},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>shop_defense.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,1516},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>sign/sign (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,1897},{127,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,129}}</string>
                <key>sourceSize</key>
                <string>{127,129}</string>
            </dict>
            <key>sign_vip_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,901},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>sign_vip_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,973},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>sign_vip_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,1045},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>sign_vip_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,1117},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>sign_vip_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,1189},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>sign_vip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,1261},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>sign_vip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,1333},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>sign_vip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,1405},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>sign_vip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,1477},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>skill2/skill2 (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,1516},{43,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,31}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>skill2/skill2 (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1516},{43,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,31}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>skill2/skill2 (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,2},{137,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,31}}</string>
                <key>sourceSize</key>
                <string>{137,31}</string>
            </dict>
            <key>skill2/skill2 (39).png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1516},{137,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,31}}</string>
                <key>sourceSize</key>
                <string>{137,31}</string>
            </dict>
            <key>skill2/skill2 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1492},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>skillb/skill b (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1051},{361,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,14}}</string>
                <key>sourceSize</key>
                <string>{361,14}</string>
            </dict>
            <key>skillb/skill b (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,657},{242,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,71}}</string>
                <key>sourceSize</key>
                <string>{242,71}</string>
            </dict>
            <key>soul_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1492},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>soul_star_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,669},{111,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,21}}</string>
                <key>sourceSize</key>
                <string>{111,21}</string>
            </dict>
            <key>star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1492},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>star_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1492},{89,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,21}}</string>
                <key>sourceSize</key>
                <string>{89,21}</string>
            </dict>
            <key>star_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,669},{111,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,21}}</string>
                <key>sourceSize</key>
                <string>{111,21}</string>
            </dict>
            <key>strengthen/strengthen (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{412,669},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>strengthen/strengthen (59).png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,1651},{105,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,80}}</string>
                <key>sourceSize</key>
                <string>{105,80}</string>
            </dict>
            <key>strengthen/strengthen (62).png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1463},{122,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,27}}</string>
                <key>sourceSize</key>
                <string>{122,27}</string>
            </dict>
            <key>strengthen_crit_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,1516},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>前景1.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1610},{472,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,39}}</string>
                <key>sourceSize</key>
                <string>{472,39}</string>
            </dict>
            <key>地图信息/map message (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{299,606},{152,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,61}}</string>
                <key>sourceSize</key>
                <string>{152,61}</string>
            </dict>
            <key>地图信息/map message (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,1733},{220,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,99}}</string>
                <key>sourceSize</key>
                <string>{220,99}</string>
            </dict>
            <key>房子7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{373,449}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,449}}</string>
                <key>sourceSize</key>
                <string>{373,449}</string>
            </dict>
            <key>未标题-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1042,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1042,104}}</string>
                <key>sourceSize</key>
                <string>{1042,104}</string>
            </dict>
            <key>未标题-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{1018,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1018,72}}</string>
                <key>sourceSize</key>
                <string>{1018,72}</string>
            </dict>
            <key>码头.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{1032,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1032,171}}</string>
                <key>sourceSize</key>
                <string>{1032,171}</string>
            </dict>
            <key>草堆.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1516},{186,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,92}}</string>
                <key>sourceSize</key>
                <string>{186,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main0.png</string>
            <key>size</key>
            <string>{2047,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7359ee7ac9974844a934148bd283e26c:5ee73dc475e5c51e3bec5a13d05ef561:5a9341d40ff7916c77ab9adf55dfc109$</string>
            <key>textureFileName</key>
            <string>main0.png</string>
        </dict>
    </dict>
</plist>
