<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>chat/chat (11).png</key>
			<dict>
				<key>width</key>
				<integer>966</integer>
				<key>height</key>
				<integer>475</integer>
				<key>originalWidth</key>
				<integer>966</integer>
				<key>originalHeight</key>
				<integer>475</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chat/chat (8).png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>141</integer>
				<key>originalHeight</key>
				<integer>57</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>477</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chat/chat (4).png</key>
			<dict>
				<key>width</key>
				<integer>966</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>966</integer>
				<key>originalHeight</key>
				<integer>97</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>536</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chat/chat (9).png</key>
			<dict>
				<key>width</key>
				<integer>178</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>178</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>143</integer>
				<key>y</key>
				<integer>477</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chat/chat (10).png</key>
			<dict>
				<key>width</key>
				<integer>178</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>178</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>635</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chat/chat (2).png</key>
			<dict>
				<key>width</key>
				<integer>619</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>619</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>712</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chat/chat (3).png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>95</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>754</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chat/chat (21).png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>21</integer>
				<key>originalHeight</key>
				<integer>21</integer>
				<key>x</key>
				<integer>323</integer>
				<key>y</key>
				<integer>477</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chat/chat (7).png</key>
			<dict>
				<key>width</key>
				<integer>928</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>928</integer>
				<key>originalHeight</key>
				<integer>109</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>845</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chat/chat (6).png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>59</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>180</integer>
				<key>y</key>
				<integer>635</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chat/chat (12).png</key>
			<dict>
				<key>width</key>
				<integer>271</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>271</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>323</integer>
				<key>y</key>
				<integer>500</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chat/chat (5).png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>59</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>97</integer>
				<key>y</key>
				<integer>754</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chat (13).png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>621</integer>
				<key>y</key>
				<integer>635</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chat/chat (15).png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>241</integer>
				<key>y</key>
				<integer>635</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chat/chat (13).png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>136</integer>
				<key>originalHeight</key>
				<integer>55</integer>
				<key>x</key>
				<integer>158</integer>
				<key>y</key>
				<integer>754</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>chat0.png</string>
			<key>realTextureFileName</key>
			<string>chat0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>