<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>warrior_m_hand1.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>warrior_m_mainHand.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>71</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>36</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>warrior_m_hat1.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>73</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>warrior_m_hat2.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>215</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>warrior_m_hat3.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>145</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>345</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>all/RenA-eye.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>178</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>all/RenA-eye2.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>73</integer>
				<key>y</key>
				<integer>132</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>all/RenA-eye3.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>64</integer>
				<key>y</key>
				<integer>178</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>all/RenA-eye6.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>135</integer>
				<key>y</key>
				<integer>132</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>all/RenA-eye4.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>62</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>135</integer>
				<key>y</key>
				<integer>164</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>all/RenA-eye5.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>199</integer>
				<key>y</key>
				<integer>142</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>all/RenA-eye7.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>199</integer>
				<key>y</key>
				<integer>196</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>all/RenA-head.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>108</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>345</integer>
				<key>y</key>
				<integer>137</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>all/RenA-head2.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>113</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>232</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>all/RenA-head3.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>356</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>warrior_m_body1.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>115</integer>
				<key>y</key>
				<integer>215</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>warrior_m_body2.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>72</integer>
				<key>originalHeight</key>
				<integer>77</integer>
				<key>x</key>
				<integer>265</integer>
				<key>y</key>
				<integer>142</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>warrior_m_body3.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>115</integer>
				<key>y</key>
				<integer>295</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>all/RenA-foot1.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>194</integer>
				<key>y</key>
				<integer>250</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>all/RenA-foot2.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>21</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>223</integer>
				<key>y</key>
				<integer>250</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>warrior_m_hand2.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>53</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>475</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>warrior_m_deputyHand.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>87</integer>
				<key>x</key>
				<integer>194</integer>
				<key>y</key>
				<integer>287</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>equip_warrior_m0.png</string>
			<key>realTextureFileName</key>
			<string>equip_warrior_m0.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>