<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,276},{167,125}}</string>
                <key>offset</key>
                <string>{2,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,89},{167,125}}</string>
                <key>sourceSize</key>
                <string>{417,417}</string>
            </dict>
            <key>attack/attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,582},{145,125}}</string>
                <key>offset</key>
                <string>{-14,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,94},{145,125}}</string>
                <key>sourceSize</key>
                <string>{417,417}</string>
            </dict>
            <key>attack/attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{189,133}}</string>
                <key>offset</key>
                <string>{-41,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,79},{189,133}}</string>
                <key>sourceSize</key>
                <string>{417,417}</string>
            </dict>
            <key>attack/attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{229,135}}</string>
                <key>offset</key>
                <string>{-43,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,77},{229,135}}</string>
                <key>sourceSize</key>
                <string>{417,417}</string>
            </dict>
            <key>attack/attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{209,135}}</string>
                <key>offset</key>
                <string>{-57,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,77},{209,135}}</string>
                <key>sourceSize</key>
                <string>{417,417}</string>
            </dict>
            <key>attack/attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,842},{139,137}}</string>
                <key>offset</key>
                <string>{-30,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,75},{139,137}}</string>
                <key>sourceSize</key>
                <string>{417,417}</string>
            </dict>
            <key>attack/attack_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{219,145}}</string>
                <key>offset</key>
                <string>{38,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,83},{219,145}}</string>
                <key>sourceSize</key>
                <string>{417,417}</string>
            </dict>
            <key>attack/attack_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,139},{221,135}}</string>
                <key>offset</key>
                <string>{38,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,85},{221,135}}</string>
                <key>sourceSize</key>
                <string>{417,417}</string>
            </dict>
            <key>attack/attack_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,717},{157,123}}</string>
                <key>offset</key>
                <string>{13,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,89},{157,123}}</string>
                <key>sourceSize</key>
                <string>{417,417}</string>
            </dict>
            <key>injured/injured_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{163,125}}</string>
                <key>offset</key>
                <string>{-9,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,90},{163,125}}</string>
                <key>sourceSize</key>
                <string>{417,417}</string>
            </dict>
            <key>injured/injured_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,276},{165,157}}</string>
                <key>offset</key>
                <string>{-28,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,81},{165,157}}</string>
                <key>sourceSize</key>
                <string>{417,417}</string>
            </dict>
            <key>injured/injured_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{145,149}}</string>
                <key>offset</key>
                <string>{-6,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,85},{145,149}}</string>
                <key>sourceSize</key>
                <string>{417,417}</string>
            </dict>
            <key>injured/injured_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,445},{159,135}}</string>
                <key>offset</key>
                <string>{-2,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,87},{159,135}}</string>
                <key>sourceSize</key>
                <string>{417,417}</string>
            </dict>
            <key>run/run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{173,137}}</string>
                <key>offset</key>
                <string>{10,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,95},{173,137}}</string>
                <key>sourceSize</key>
                <string>{417,417}</string>
            </dict>
            <key>run/run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,580},{153,135}}</string>
                <key>offset</key>
                <string>{5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,99},{153,135}}</string>
                <key>sourceSize</key>
                <string>{417,417}</string>
            </dict>
            <key>run/run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,717},{145,135}}</string>
                <key>offset</key>
                <string>{5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,99},{145,135}}</string>
                <key>sourceSize</key>
                <string>{417,417}</string>
            </dict>
            <key>run/run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,435},{153,143}}</string>
                <key>offset</key>
                <string>{5,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,91},{153,143}}</string>
                <key>sourceSize</key>
                <string>{417,417}</string>
            </dict>
            <key>run/run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,864},{157,123}}</string>
                <key>offset</key>
                <string>{9,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,95},{157,123}}</string>
                <key>sourceSize</key>
                <string>{417,417}</string>
            </dict>
            <key>run/run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,707},{163,125}}</string>
                <key>offset</key>
                <string>{9,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,91},{163,125}}</string>
                <key>sourceSize</key>
                <string>{417,417}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newanim.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b177023aea22bc786c317af2212fc9bc:e89d6fb56177f62a67d62e586b34dfa6:4ff7dcd62d76c9e4cb63403b431dd1fb$</string>
            <key>textureFileName</key>
            <string>newanim.png</string>
        </dict>
    </dict>
</plist>
