<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>front1.png</key>
			<dict>
				<key>width</key>
				<integer>665</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>665</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>front2.png</key>
			<dict>
				<key>width</key>
				<integer>646</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>646</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>68</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>road1.png</key>
			<dict>
				<key>width</key>
				<integer>624</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>624</integer>
				<key>originalHeight</key>
				<integer>153</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>road2.png</key>
			<dict>
				<key>width</key>
				<integer>513</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>513</integer>
				<key>originalHeight</key>
				<integer>153</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>270</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>back1.png</key>
			<dict>
				<key>width</key>
				<integer>199</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>199</integer>
				<key>originalHeight</key>
				<integer>151</integer>
				<key>x</key>
				<integer>666</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>back2.png</key>
			<dict>
				<key>width</key>
				<integer>317</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>317</integer>
				<key>originalHeight</key>
				<integer>162</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>270</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>scene_hell0.png</string>
			<key>realTextureFileName</key>
			<string>scene_hell0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>